.header-bar{
    display: flex;
    justify-content: space-around;
    background-color: hsl(61, 97%, 87%);
    margin-left: 15rem;
    margin-right: 15rem;
}

.app-name{
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
}

.authentication{
    display: flex;
    align-items: center;
}

.login-button{
    font-size: 1.3rem;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    margin: 0.5rem;
}

.signup-button{
    font-size: 1.3rem;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    margin: 0.5rem;
}