.task{
    /* background-color: rgb(148, 9, 18); */
    display: flex;
    justify-content: start;
    margin-top: 1.5%;
    margin-left: 15rem;
    margin-right: 70rem; 
}

.task-content{
    margin-left: 2%;
    display: flex;
    align-items: center;
}

.input-box{
    font-size: 25px;
    background-color: hsl(60, 100%, 97%);
}

.task-buttons{
    display: flex;
    
}

.task-delete-button{
    padding: 0.5rem;
    margin-left: 40%;
    font-size: 10px;
    border-width: 2;
    border-color: rgb(246, 218, 59);
    border-radius: 5px;
    background-color: rgb(242, 200, 200);
}

.task-toggle-button{
    padding: 0.5rem;
    margin-left: 40%;
    font-family: 'Bebas Neue', cursive;
    font-size: 10px;
    border-width: 2;
    border-color: rgb(246, 218, 59);
    border-radius: 5px;
    background-color: rgb(244, 239, 187);
}

